<form enctype="multipart/form-data" method="post">
{% csrf_token %}

{% for campo in formulario %}
    <div class="form-group">

       
        <label for="titulo" class="form-label">{{campo.label}}</label>

        
        <input 
        type="{{campo.field.widget.input_type}}"
        type="{{campo.field.widget.input_type}}"
        class="form-control"
        id="" 
        name="{{campo.name}}" 
        value="{{campo.value | default:''}}"
        placeholder="{{campo.label}}">
    </div>
    {% if campo.field.widget.input_type == 'file' %}
    <img src="{{campo.value.url}}" class="img-thumbnail" style="width: 100px;">
    {% endif %}
    <div class="col-12 help-text">
        {{campo.help_text}}
    </div>
{% endfor %}
    <br>
<input type="submit" id="" class="btn btn-success" value="Guardar">
</form>