{% extends "base.html" %}
{% block titulo %}Películas{% endblock %}
{% block contenido %}
    <h1>Películas</h1>
    <p>
        Sección que enlista las películas en el sistema
    </p>
    <div class="card">
        <div class="card-header"><a
            href="{% url 'crear' %}"
            class="btn btn-success"
        >Agregar Película</a></div>
        <div class="card-body">
            <h4 class="card-title">Películas</h4>
            <div
                class="table-responsive"
            >
                <table
                    class="table table-primary"
                >
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Título</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pelicula in peliculas %}
                        <tr class="">
                            <td scope="row">{{ pelicula.id }}</td>
                            <td>
                                <img
                                    src="{{ pelicula.imagen.url }}"
                                    alt="{{ pelicula.titulo }}"
                                    class="img-thumbnail"
                                    style="width: 100px;">
                            </td>
                            <td>{{ pelicula.titulo }}</td>
                            <td>{{ pelicula.descripcion }}</td>
                            <td>
                                <a
                                    href="{% url 'editar' %}"
                                    class="btn btn-warning"
                                >Editar</a>
                                <a
                                    href="{% url 'eliminar' pelicula.id %}"
                                    class="btn btn-danger"
                                >Eliminar</a>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="card-footer text-muted">Notas adicionales</div>
    </div>
    
{% endblock %}